<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAIN</title>

    <script src="https://kit.fontawesome.com/b57dd44d80.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../static/css/style.css"/>
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    

    
</head>
<body>
    <!-- 비디오와 상단바 -->
    <div class="home">
        <!-- 비디오 -->
        <video 
        src="../../static/video/squidgame.mp4"
        autoplay
        muted
        width:100%
        height: 100%
        ></video>
        <!-- overlay -->
        <div class="overlay">
            <!-- 상단바 -->
            <div class="header">
                <div class="logo">NETFLIX</div>
                <div class="nav">
                    <div class="nav-item">홈</div>
                    <div class="nav-item">TV 프로그램</div>
                    <div class="nav-item">영화</div>
                    <div class="nav-item">New! 요즘 대세영화</div>
                    <div class="nav-item">내가 찜한 콘텐츠</div>
                </div>
                <div class="menu">
                    <div class="menu-item">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <div class="menu-item">키즈</div>
                    <div class="menu-item">
                        <i class="fa-solid fa-bell"></i>
                    </div>
                    <div class="menu-item">
                        <i class="fa-solid fa-circle-user"></i>
                    </div>
                </div>
            </div>
            <!-- 인기 영화 띄우기 -->
            <div class="banner">
                <div class="series">N 시리즈</div>
                <div class="title">굿닥터</div>
                <div class="badge">오늘 한국에서 콘텐츠 순위 1위</div>
                <div class="description">
                    국가정보원 국제범죄(마약)팀 소속 해수는 작전 중 사망한 동료를 대신해 하우스에서 ‘판때기’로 불리며 명성을 떨치고 있는 장판수를 급습' 정체불명 도박의 신 '블랙잭'이 60억 원어치 마약을 노리고 있다는 사실을 알게 된다.<br/>이제 그를 잡을 방법은 단 하나뿐.
                    해수는 맨몸으로 위험천만한 도박판에 직접 뛰어들기로 결심한다. 목숨 건 죽음의 베팅이 시작된다!
                </div>
                <div class="buttons">
                    <div class="white-button">
                        <i class="fa-solid fa-play"></i>
                        재생
                    </div>
                    <div class="gray-button">
                        <i class="fa-solid fa-circle-info"></i>
                        상세정보
                    </div>
                </div>
                <div class="extra">
                    <div class="replay-button">
                        <i class="fa-solid fa-arrow-rotate-left"></i>
                    </div>
                    <div class="rating"></div>
                </div>
                </div>
        </div>
    </div>


    <!-- 카테고리 -->
    <div class="category-list">
        <div class="wrapper">
            <div class="list-title">지금 뜨는 컨텐츠</div>
            <div class="carousel">
                <div class="carouselbox">
                    <div class="content">
                        <img class="img-0 slider-img" src="https://image.cine21.com/resize/cine21/poster/2021/0915/54726_6141aa99468ae[X224,320].jpg">
                        <!--Hover Content-->
                        <div class="video_content">
                            <div class="play_btn">
                                <div class="vid_name">Radhe</div>
                                <div class="vid_detail">
                                    <ul class="vid_list">
                                        <li class="c_green">99% Match</li>
                                        <li class="br_round">13+</li>
                                        <li>2h:33m</li>
                                    </ul>
                                </div>
                                <div class="vid_category">
                                    <ul class="vid_list">
                                        <li>Action</li>
                                        <li>Drama</li>
                                        <li>Comedy</li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="content">
                        <img class="img-0 slider-img" src="https://image.cine21.com/resize/cine21/poster/2021/0915/54726_6141aa99468ae[X224,320].jpg">
                        <!--Hover Content-->
                        <div class="video_content">
                            <div class="play_btn">
                                <div class="vid_name">Radhe</div>
                                <div class="vid_detail">
                                    <ul class="vid_list">
                                        <li class="c_green">99% Match</li>
                                        <li class="br_round">13+</li>
                                        <li>2h:33m</li>
                                    </ul>
                                </div>
                                <div class="vid_category">
                                    <ul class="vid_list">
                                        <li>Action</li>
                                        <li>Drama</li>
                                        <li>Comedy</li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="content">
                        <img class="img-0 slider-img" src="https://image.cine21.com/resize/cine21/poster/2021/0915/54726_6141aa99468ae[X224,320].jpg">
                        <!--Hover Content-->
                        <div class="video_content">
                            <div class="play_btn">
                                <div class="vid_name">Radhe</div>
                                <div class="vid_detail">
                                    <ul class="vid_list">
                                        <li class="c_green">99% Match</li>
                                        <li class="br_round">13+</li>
                                        <li>2h:33m</li>
                                    </ul>
                                </div>
                                <div class="vid_category">
                                    <ul class="vid_list">
                                        <li>Action</li>
                                        <li>Drama</li>
                                        <li>Comedy</li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="content">
                        <img class="img-0 slider-img" src="https://image.cine21.com/resize/cine21/poster/2021/0915/54726_6141aa99468ae[X224,320].jpg">
                        <!--Hover Content-->
                        <div class="video_content">
                            <div class="play_btn">
                                <div class="vid_name">극장판 포켓몬스터: 정글의 아이, 코코</div>
                                <div class="vid_detail">
                                    <ul class="vid_list">
                                        <li class="c_green">99% Match</li>
                                        <li class="br_round">13+</li>
                                        <li>2h:33m</li>
                                    </ul>
                                </div>
                                <div class="vid_category">
                                    <ul class="vid_list">
                                        <li>Action</li>
                                        <li>Drama</li>
                                        <li>Comedy</li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="content">
                        <img class="img-0 slider-img" src="https://image.cine21.com/resize/cine21/poster/2021/0915/54726_6141aa99468ae[X224,320].jpg">
                        <!--Hover Content-->
                        <div class="video_content">
                            <div class="play_btn">
                                <div class="vid_name">Radhe</div>
                                <div class="vid_detail">
                                    <ul class="vid_list">
                                        <li class="c_green">99% Match</li>
                                        <li class="br_round">13+</li>
                                        <li>2h:33m</li>
                                    </ul>
                                </div>
                                <div class="vid_category">
                                    <ul class="vid_list">
                                        <li>Action</li>
                                        <li>Drama</li>
                                        <li>Comedy</li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="content">
                        <img class="img-0 slider-img" src="https://image.cine21.com/resize/cine21/poster/2021/0915/54726_6141aa99468ae[X224,320].jpg">
                        <!--Hover Content-->
                        <div class="video_content">
                            <div class="play_btn">
                                <div class="vid_name">Radhe</div>
                                <div class="vid_detail">
                                    <ul class="vid_list">
                                        <li class="c_green">99% Match</li>
                                        <li class="br_round">13+</li>
                                        <li>2h:33m</li>
                                    </ul>
                                </div>
                                <div class="vid_category">
                                    <ul class="vid_list">
                                        <li>Action</li>
                                        <li>Drama</li>
                                        <li>Comedy</li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="content">
                        <img class="img-0 slider-img" src="https://image.cine21.com/resize/cine21/poster/2021/0915/54726_6141aa99468ae[X224,320].jpg">
                        <!--Hover Content-->
                        <div class="video_content">
                            <div class="play_btn">
                                <div class="vid_name">Radhe</div>
                                <div class="vid_detail">
                                    <ul class="vid_list">
                                        <li class="c_green">99% Match</li>
                                        <li class="br_round">13+</li>
                                        <li>2h:33m</li>
                                    </ul>
                                </div>
                                <div class="vid_category">
                                    <ul class="vid_list">
                                        <li>Action</li>
                                        <li>Drama</li>
                                        <li>Comedy</li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="content">
                        <img class="img-0 slider-img" src="https://image.cine21.com/resize/cine21/poster/2021/0915/54726_6141aa99468ae[X224,320].jpg">
                        <!--Hover Content-->
                        <div class="video_content">
                            <div class="play_btn">
                                <div class="vid_name">Radhe</div>
                                <div class="vid_detail">
                                    <ul class="vid_list">
                                        <li class="c_green">99% Match</li>
                                        <li class="br_round">13+</li>
                                        <li>2h:33m</li>
                                    </ul>
                                </div>
                                <div class="vid_category">
                                    <ul class="vid_list">
                                        <li>Action</li>
                                        <li>Drama</li>
                                        <li>Comedy</li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <button class="switchLeft sliderButton" onclick="recommend.sliderScrollLeft()"><</a>
                <button class="switchRight sliderButton" onclick="recommend.sliderScrollRight()">></butt>
            </div>
        </div>

        <div class="wrapper">
            <div class="list-title">{{user}}가 찜한 컨텐츠</div>
            <div class="carousel">
                <div class="carouselbox second">
                    {% for movie in movies %}
                        <div class="content">
                            <img class="img-0 slider-img" src="{{movie.imgurl}}">
                            <!--Hover Content-->
                            <div class="video_content">
                                <div class="play_btn">
                                    <div class="vid_name">{{movie.title}}</div>
                                    <div class="vid_detail">
                                        <ul class="vid_list">
                                            <li class="c_green">99% Match</li>
                                            <li class="br_round">13+</li>
                                            <li>{{movie.runningtime}}</li>
                                            <a href="/{{ movie.id }}">
                                            <span class="badge rounded-pill bg-success">보기</span>
                                            </a>
                                        </ul>
                                    </div>
                                    <div class="vid_category">
                                        <ul class="vid_list">
                                            <li>{{movie.genre}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <button class="switchLeft sliderButton" onclick="userlike.sliderScrollLeft()"><</a>
                <button class="switchRight sliderButton" onclick="userlike.sliderScrollRight()">></butt>
            </div>
        </div>

    
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.0.0-alpha.1/axios.js"></script>
        <script src="../../static/js/index.js"></script>
    </div>
    
    
</body>
</html>