{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAIN</title>
    <script src="https://kit.fontawesome.com/b57dd44d80.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../static/css/movie_list.css"/>
    <script src="../../static/js/play.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <!-- 비디오와 상단바 -->
    <div class="home">
        <!-- 비디오 -->
        <video
        src="../../static/video/범죄도시2.mp4"
        autoplay
        width: 80%
        height: 80%
        controls
        ></video>
        <!-- overlay -->
        <div class="overlay">
            <!-- 상단바 -->
            <div class="header">
                <a class="logo" href="/" style="text-decoration-line: none;">NETFLIX</a>
                <div class="nav">
                    <a class="nav-item" href="/">홈</a>
                    <a class="nav-item" href="#rate-ranking">상위 평점 영화</a>
                    <a class="nav-item" href="#now_hottest">New! 요즘 대세영화</a>
                    <a class="nav-item" href="#like-contents">내가 찜한 콘텐츠</a>
                </div>
                <div class="menu">
                    <div id="search">
                    <form method="get" action="{% url 'movie:search' %}" >
                        <input type="search" name="kw" placeholder="검색">
                    </form>
                    </div>
                    <div class="menu-item"> {{user.username}} </div>
                    <a class="menu-item" href={% url 'logout' %} style="color:white; text-decoration-line: none;">
                        Logout
                    </a>
                </div>
            </div>
            <!-- 인기 영화 띄우기 -->
            <div class="banner">
                <div class="series">  </div>
                <div class="title" style="margin-top:40px">범죄도시 2</div>
                <div class="badge"><b>한국에서 콘텐츠 순위 1위</b></div>
                <div class="description">
                    “느낌 오지? 이 놈 잡아야 하는 거”
                    가리봉동 소탕작전 후 4년 뒤,
                    금천서 강력반은 베트남으로 도주한 용의자를 인도받아 오라는 미션을 받는다.
                    괴물형사 ‘마석도’(마동석)와 ‘전일만’(최귀화) 반장은 현지 용의자에게서 수상함을 느끼고,
                    그의 뒤에 무자비한 악행을 벌이는 ‘강해상’(손석구)이 있음을 알게 된다.
                    ‘마석도’와 금천서 강력반은 한국과 베트남을 오가며
                    역대급 범죄를 저지르는 ‘강해상’을 본격적으로 쫓기 시작하는데...
                    나쁜 놈들 잡는 데 국경 없다!
                    통쾌하고 화끈한 범죄 소탕 작전이 다시 펼쳐진다!
                </div>
                <div class="buttons">
                    <div class="white-button" onclick="play()">
                        <i class="fa-solid fa-play"></i>
                        재생
                    </div>
                    <div class="gray-button">
                        <i class="fa-solid fa-circle-info"></i>
                        상세정보
                    </div>
                </div>
                <div class="extra">
                    <div class="replay-button" onclick="play()">
                        <i class="fa-solid fa-arrow-rotate-left"></i>
                    </div>
                    <div class="rating"></div>
                </div>
                </div>
        </div>
    </div>
    <!-- 카테고리 -->
    <div class="category-list" style='margin-top:500px'>
        <div clas="wrapper">
            <div class="list-title" id="now_hottest">지금 뜨는 컨텐츠</div>
            <div class="carousel">s
                <div class="carouselbox first">
                    {% for movie, genres in rec.items %}
                        <div class="content">
                            <a href="{% url 'movie:recommend_movies' movie.pk %}">
                                <img class="img-0 slider-img" src="{{movie.imgurl}}">
                                <!--Hover Content-->
                                <div class="video_content">
                                    <div class="play_btn">
                                        <div class="vid_name">{{movie.title}}</div>
                                        <div class="vid_detail">
                                            <ul class="vid_list">
                                                <li class="c_green">{{movie.rate}}</li>
                                                <li class="br_round">{{movie.age}}</li>
                                                <li>{{movie.runningtime}}</li>
                                            </ul>
                                        </div>
                                        <div class="vid_category">
                                            <ul class="vid_list">
                                                {% for genre in genres%}
                                                <li>{{genre.genre_name}}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <button class="switchLeft sliderButton" onclick="recommend.sliderScrollLeft()"><</button>
                <button class="switchRight sliderButton" onclick="recommend.sliderScrollRight()">></button>
            </div>
        </div>
        <div class="wrapper">
            <div class="list-title" id="like-contents">{{user}}님이 찜한 컨텐츠</div>
            <div class="carousel">
                <div class="carouselbox second">
                    {% for movie, genres in likes.items %}
                        <div class="content">
                            <a href="{% url 'movie:recommend_movies' movie.pk %}">
                                <img class="img-0 slider-img" src="{{movie.imgurl}}">
                                <!--Hover Content-->
                                <div class="video_content">
                                    <div class="play_btn">
                                        <div class="vid_name">{{movie.title}}</div>
                                        <div class="vid_detail">
                                            <ul class="vid_list">
                                                <li class="c_green">{{movie.rate}}</li>
                                                <li class="br_round">{{movie.age}}</li>
                                                <li>{{movie.runningtime}}</li>
                                            </ul>
                                        </div>
                                        <div class="vid_category">
                                            <ul class="vid_list">
                                                {% for genre in genres%}
                                                <li>{{genre.genre_name}}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <button class="switchLeft sliderButton" onclick="userlike.sliderScrollLeft()"><</button>
                <button class="switchRight sliderButton" onclick="userlike.sliderScrollRight()">></button>
            </div>
        </div>
        <div class="wrapper">
            <div class="list-title" id="rate-ranking">평점 높은 영화</div>
            <div class="carousel">
                <div class="carouselbox third">
                    {% for movie, genres in ranking.items %}
                        <div class="content">
                            <a href="{% url 'movie:recommend_movies' movie.pk %}">
                                <img class="img-0 slider-img" src="{{movie.imgurl}}">
                                <!--Hover Content-->
                                <div class="video_content">
                                    <div class="play_btn">
                                        <div class="vid_name">{{movie.title}}</div>
                                        <div class="vid_detail">
                                            <ul class="vid_list">
                                                <li class="c_green">{{movie.rate}}</li>
                                                <li class="br_round">{{movie.age}}</li>
                                                <li>{{movie.runningtime}}</li>
                                            </ul>
                                        </div>
                                        <div class="vid_category">
                                            <ul class="vid_list">
                                                {% for genre in genres%}
                                                <li>{{genre.genre_name}}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <button class="switchLeft sliderButton" onclick="ranking.sliderScrollLeft()"><</button>
                <button class="switchRight sliderButton" onclick="ranking.sliderScrollRight()">></button>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.0.0-alpha.1/axios.js"></script>
        <script src="../../static/js/index.js"></script>
    </div>
</body>
</html>