<!-- templates/movie/liome.litml -->
{% extends 'base.html' %}

{% block content %}
{% load static  %}

<section>
    <div calss="row">
        {% for movie in movie %}
         <li>영화코드: {{ movie.code }}</li>
        <li>제목: {{ movie.title }}</li>
        <li>스토리: {{ movie.story }}</li>
        <li>유저평점: {{ movie.user_rate }}</li>
        <li>크롤평점: {{ movie.rate }}</li>
        {% endfor %}

        {% comment %} {% for genre in movie_movie_genre %}
        <li>장르: {{ genre.genremodel_id }}</li>
        <li>유저: {{ genre.moviemodel_id }}</li>
        {% endfor %} {% endcomment %}
    </div>
</section>
    

{% endblock %} 
