{% load static %}

<!DOCTYPE html>
<html lang="en">
<head >
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAIN</title>
    <script src="https://kit.fontawesome.com/b57dd44d80.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../static/css/search.css"/>
    <script src="../../static/js/play.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>     

<div class="overlay" >
    <div class="header">
        <a class="logo" href="/" style="text-decoration-line: none;">NETFLIX</a>
        <div class="nav">
            <a class="nav-item" href="/">홈</a>
            <a class="nav-item" href="#rate-ranking">상위 평점 영화</a>
            <a class="nav-item" href="#now_hottest">New! 요즘 대세영화</a>
            <a class="nav-item" href="#like-contents">내가 찜한 콘텐츠</a>
        </div>
        <div class="menu">
            <div id="search">
            <form method="get" action="{% url 'movie:search' %}" >
                <input type="search" name="kw" placeholder="검색">
            </form>
            </div>
            <div class="menu-item"> {{user.username}} </div>
            <a class="menu-item" href={% url 'logout' %} style="color:white; text-decoration-line: none;">
                Logout
            </a>
        </div>
    </div>
</div>


<div class="category-list" style="position:top">
    <div clas="wrapper">
        <div class="list-title" id="search-result"><h3> 검색결과 : <b>{{ query }}</b></h3></div>
        <div class="carousel">s
            <div class="carouselbox first">
                {% comment %}  {% endcomment %}
                {% for movie in movies %}
                    <div class="content">
                        {% comment %} <a href= "/movie/{{movie.url}}"> {% endcomment %}
                        <a href="{% url 'movie:recommend_movies' movie.pk %}">
                            <img class="img-0 slider-img" src="{{ movie.imgurl }}">
                            <!--Hover Content-->
                            <div class="video_content">
                                <div class="play_btn">
                                    <div class="vid_name">{{movie.title}}</div>
                                    <div class="vid_detail">
                                        <ul class="vid_list">
                                            <li class="c_green">{{movie.rate}}</li>
                                            <li class="br_round">{{movie.age}}</li>
                                            <li>{{movie.runningtime}}</li>
                                        </ul>
                                    </div>
                                    <div class="vid_category">
                                        <ul class="vid_list">
                                            {% for genre in genres%}
                                            <li>{{genre.genre_name}}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>                    
                {% endfor %}
            </div>
            <button class="switchLeft sliderButton" onclick="recommend.sliderScrollLeft()"></a>
            <button class="switchRight sliderButton" onclick="recommend.sliderScrollRight()">></button>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.0.0-alpha.1/axios.js"></script>
    <script src="../../static/js/index.js"></script>
</div>
</body>
</html>