/* 전체 기본설정 */
* {
    /* border: 1px solid greenyellow; */
    /* background-color: rgb(20,20,20); */
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}

body {
    background-color: rgb(20, 20, 20);
    width: 100%;
}

/* 카테고리 윗부분 */
.home {
    position: relative;
    height: 100%;
    width: 100%;
    /* background-color: red; */

}

video {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 100%;
    /* background-color: green; */
}

.overlay {
    position: absolute;
    /* width: 100%; */
    top: 0;
    right: 0;
    left: 0;
    width: calc(100%-50px);
    padding: 0 50px;
    /* background-color: green; */
}

/* 상단바 */
.header {
    width: 100%;
    display: flex;
    color: white;
    line-height: 50px;
    background-color: rgb(20, 20, 20);
    background: linear-gradient(to top, transparent, rgb(20, 20, 20));
}

.logo {
    color: red;
    margin-right: 30px;
    font-size: 28px;
    font-weight: 900;
}

.nav {
    display: flex;
}

.nav-item {
    padding: 0 10px;
    color: white;
    text-decoration: none;
}

.menu {
    display: flex;
    margin-left: auto;

}

.menu-item {
    padding: 0 10px;
}

/* 배너 */
.banner {
    padding: 50px 0;
    color: white;
}

.title {
    font-size: 72px;
}

/* .description{
    width: 40%;
} */
.buttons {
    display: flex;
    padding: 20px 0;
}

.white-button {
    color: black;
    background-color: white;
    padding: 10px 25px;
    border-radius: 4px;
    font-weight: 900;
    font-size: 18px;
}

.gray-button {
    color: white;
    background-color: rgba(170, 170, 170, .4);
    padding: 10px 25px;
    border-radius: 4px;
    font-weight: 900;
    font-size: 18px;
    margin-left: 15px;

}

.extra {
    position: absolute;
    right: 0;
    width: 140px;
    display: flex;
}

.replay-button {
    display: inline-block;
    border: 1px solid white;
    padding: 10px;
    border-radius: 70%;
}

.rating {
    background-color: rgba(170, 170, 170, .2);
    border-left: 3px solid white;
    padding-left: 10px;
    width: 100%;
    margin-left: 10px;
}

/* 카테고리- 지금 뜨는 컨텐츠 */
.category-list {
    position: absolute;
    top: 150px;
    left: 50px;
    right: 50px;
    scroll-behavior: smooth;
    bottom: 100px;
}

.list-title {
    font-size: 25px;
    font-weight: 900;
    color: white;
    /* margin-bottom: 10px; */
}

.carousel {
    height: 400px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.carouselbox {
    width: auto;
    height: 400px;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    padding-bottom: 10px !important;
    display: flex;
    align-items: center;
}

.carouselbox img {
    min-width: 224px;
    max-width: 224px;
    height: 320px;
    background-size: cover;
    margin: 10px 2px;
    cursor: pointer;
    transition: 0.5s ease;
    z-index: 2;
}

/* <>캐러셀 버튼 설정 */
.carousel .switchLeft,
.carousel .switchRight {
    /* display:none; */
    color: transparent;
    border: 0;
    font-weight: bold;
    /* height: 70%; */
    width: 70px;
    line-height: 325px;
    font-size: 60px;
    text-align: center;
    font-family: sans-serif;
    top: 30px;
    z-index: 3;
    /* margin:auto; */
    cursor: pointer;

}

.sliderButton:hover {
    color: white;
    /* display:block; */
}

.carousel .switchLeft {
    position: absolute;
    left: 0;
    background: linear-gradient(to left, transparent, rgb(20, 20, 20));

}

.carousel .switchRight {
    position: absolute;
    right: 0;
    background: linear-gradient(to right, transparent, rgb(20, 20, 20));
}


/* hover -> 정보 띄우기 */
.content {
    position: relative;
}

.video_content {
    width: 100%;
    height: 100%;
    /* display:none; */
    opacity: 0;
    color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
}

.content:hover .video_content {
    /* display:block; */
    opacity: 1;
}

.carouselbox img:hover {
    /* filter: brightness(20%);  */
    transform: scale(1.2);
    z-index: 5;
}

/* hover시 나타나는 정보들 css */
.play_btn {
    margin: 120px auto auto auto;
    position: relative;
}

.circle {
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    border-radius: 100%;
}

.circle:hover i {
    color: red;
}

.circle i {
    color: fff;
    font-size: 12px;
    transform: translate(-60%, -50%);
}

.vid_name {
    font-size: 27px;
    margin-bottom: 4px;
    white-space: normal;
    font-weight: bold;
}

.vid_list {
    list-style: none;
    margin-top: 0px;
}

.vid_list li {
    display: inline-block;
    font-size: 8px;
}

.br_round {
    border: 1px solid #f2f2f2;
    padding-left: 3px;
    padding-right: 3px;
    line-height: 10px;
}

.c_green {
    color: rgba(0, 153, 0, 1);
    font-weight: 600;
}


/* hover효과 */

.content {
    -webkit-transition: 250ms all;
    transition: 250ms all;
    vertical-align: middle;
}

.content:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    z-index: 1;
    margin: 0 15px;
}

.recommend_movies {
    margin: 120px 70px 100px 70px;
}

.detail_hover {
    position: absolute;
    top: 70;
}